$size: 200px;
.lft{
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
  }
  .rght{
      border-bottom-right-radius: $size * 2;
      border-top-right-radius: $size * 2;
  }
  #cont {
    width: 40%;
    height: 100%;
  }
  img{
    width: 80%;
    height: 70%;
   }
  #colu{
    margin-top: -10vh;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    #txt{
      width: 50%;
      margin-top: 10vh;
    }
  }

h1{
  font-size: 80px;
  font-family: 'Pathway Gothic One', sans-serif;
}

h2{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}
ul{
  li{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
  }
}
